# 必須ファイル（無視しないようにする）
!.uproject
!Config/

# ProjectFilesを含める(C++を読み込むように)
!.sln
!Source/
!Intermediate/ProjectFiles/

# 無視するファイル
Binaries/
DerivedDataCache/
Intermediate/Build
Intermediate/AssetRegistryCache
Intermediate/Staging
Intermediate/Config
Intermediate/ReimportCache
Intermediate/AssetRegistryCache
Saved/

# IDE固有のファイルを無視
.vscode/
.vs/
*.VC.db
*.opensdf
*.sdf
*.suo
*.xcodeproj
*.xcworkspace

